# Target API Gateway (For fetching products, placing orders, and admin logins)
# Local development: http://localhost:5000
# Production: https://sk-cakes-api.onrender.com
VITE_API_URL=http://localhost:5000
